h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* Змінні з кольорами */
:root {
    --contrast: #2196F3;
    --white: #FFFFFF;
    --darkerWhite: #F5F4FA;
    --black: rgba(0, 0, 0, 1);
    --backGrey: #2F303A;
    --grey: #212121;
    --lightGrey: #757575;
    --weirdGrey: rgba(255, 255, 255, 0.6);
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transitionLong: 300ms ease;
}

/* Блакитний колір контраст */
.contrast {
    color: var(--contrast);
}

/* Світлий сірий колір */
.light-grey {
    color: var(--lightGrey);
}

/* Сірий колір */
.grey {
    color: var(--grey);
}

/* Інший сірий колір */
.weird-grey {
    color: var(--weirdGrey);
}

/* Чорна частина логотипу */
.black {
    color: var(--black);
}

/* Біла частина логотипу */
.white {
    color: var(--white);
}

/* ---------------ЗАГАЛЬНЕ--------------- */

body {
    font-family: 'Roboto';
    font-size: 14px;
    color: var(--grey);
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-content: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Лінки без підкреслення */
.link {
    text-decoration: none;
    transition: color var(--transition);
}

.link:hover,
.link:focus {
    color: var(--contrast);
}

/* Мінус маркування списків */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Приховані заголовки */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Всі контейнери */
.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* Секції */
.section {
    padding: 94px 0;
}

/* Логотип загальне Хедер і Футер */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    width: 145px;
    margin-right: 93px;
}

/* Заголовки h2 секцій */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
}

/* Відступ вниз від заголовків h2 */
.section-margin {
    margin-top: 50px;
}

/* ФлексБокс для іконок контактів */
.contacts-ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* flexbox списки main*/
.flexbox-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* ---------------ХЕДЕР--------------- */

/* Рамка */
.header {
    border: 1px solid #ECECEC;
    height: 80px;
}

/* ФлексБокс для лого і списку сторінок */
.nav-container {
    display: flex;
    align-items: center;
}

/* ФлексБокс для загального div і списків */
.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

/* Розміри для списку сторінок */
.pages {
    width: 281px;
    margin-right: 318px;
}

.header-item {
    position: relative;
    padding: 32px 0;
}

.header-item-page::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 2px;
    transform: translateX(-50%) scale(1);
    display: block;
    width: 105%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--contrast);
    transition: 250ms;
}

/* Розміри для мейла і телефона */
.adress {
    width: 333px;
}

/*Списки*/
.nav-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*Відступ між сторінками і контактами*/
.indentation-ul-header {
    margin-right: 344px;
}

/* Іконки заливка кольору тексту */
.header_icons {
    fill: currentColor;
}

/* Вирівнювання іконок в ряд з текстом */
.header-contacts {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ---------------HERO--------------- */

/* Загальне */
.hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
    margin: 0 auto;
}

/* Ефективні рішення для вашого бізнесу текст */
.hero-title {
    width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000000;
}

/* Кнопка */
.button {
    margin: 0 auto;
    background: var(--contrast);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    border: 0;
    transition: background-color var(--transition), box-shadow var(--transition);
}

.button:focus,
.button:hover {
    cursor: pointer;
    background: rgba(24, 140, 232, 1);
}

/* Замовити послугу текст на кнопці */
.button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.865;
    text-align: center;
    letter-spacing: 0.06em;
}

/* ---------------ЯКОСТІ--------------- */

/*Заголовки h3*/
.qualities-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

/*Текст p*/
.qualities-text {
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--lightGrey);
}

/*Розміри li*/
.qualities-dimensions {
    width: 270px;
}

/* Прямокутники бекграунд іконок */
.qualities-icons {
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/* ---------------ЧИМ МИ ЗАЙМАЄМОСЯ--------------- */

/* Скасування верхнього відступу */
.about {
    padding-top: 0;
}

/* Прив'язка для фону */
.about-item {
    position: relative;
}

/* Перекриваючий фон */
.overlay-about {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Текст */
.overlay-about-text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}

/* ---------------НАША КОМАНДА--------------- */

/* Секція загальне */
.section-team {
    background: var(--darkerWhite);
    padding: 94px 0;
}

/* Текст h3 p */
.team {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Фон карток li */
.team-color {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* Імена h3 */
.team-names {
    font-weight: 500;
    margin-top: 0;
}

/* Посади p */
.team-position {
    color: var(--lightGrey);
    margin-bottom: 16px;
}

/* Відступи для текстової частини карток */
.team-padding {
    padding: 30px 0;
}

/* li з іконками контактів */
.contacts-items {
    width: 44px;
    height: 44px;
}

/* Посилання з іконками контактами Головна */
.contacts-link {
    border-radius: 50%;
    fill: #AFB1B8;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: background-color var(--transition), fill var(--transition);
}

.contacts-link:focus,
.contacts-link:hover {
    background-color: var(--contrast);
    fill: var(--white);
}



/* Заливка іконок Футер */
.footer-contact-item {
    fill: var(--white);
}


/* ---------------ПОСТІЙНІ КЛІЄНТИ--------------- */

/* Іконки */
.permanent_items {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border var(--transition), fill var(--transition), filter var(--transition);
}

.permanent_items:focus,
.permanent_items:hover {
    border: 1px solid var(--contrast);
    fill: var(--contrast);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Список іконок Флекс */
.permanent_flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* ---------------ПОРТФОЛІО--------------- */

/* Кнопки фільтри */
.buttons-portfolio {
    background: var(--darkerWhite);
    border-radius: 4px;
    font-family: inherit;
    border: 0;
    padding: 6px 22px;
    cursor: pointer;
    transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
}

.buttons-portfolio:focus,
.buttons-portfolio:hover {
    background: var(--contrast);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Кнопки фільтри текст */
.buttons-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Відступ для кнопок */
.portfolio-indentation-button {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

/* Роботи ul */
.project-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

/*Роботи li*/
.portfolio-list {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEEEEE;
    transition: box-shadow var(--transition);
}

.portfolio-list:focus,
.portfolio-list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

/* Синій фон і картинка разом */
.project-div-overlay {
    position: relative;
    overflow: hidden;
}

/* Текст на синьому фоні */
.project-overlay-text {
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: var(--white);
}

/* Заголовки назви */
.portfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--grey);
    margin: 0;
}

/* Підзаголовки тип */
.portfolio-type {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.865;
    letter-spacing: 0.03em;
    color: var(--lightGrey);
}

/* Відступи для контейнерів заголовки підзаголовки */
.portfolio-indentation-text {
    margin: 0;
    padding: 20px 24px;
}

/* Синій виїжджаючий фон */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translateY(101%);
    transition: transform var(--transition);
}

.portfolio-list:hover .overlay {
    transform: translateY(0);
}

/* ---------------ФУТЕР--------------- */

/* Загальне */
.footer {
    background: var(--backGrey);
    padding: 60px 0;
}

/* ФлексБокс */
.footer-flex {
    display: flex;
    align-items: baseline;
}

/* Ширина блока з лого */
.footer-fcont {
    min-width: 231px;
}

/* Логотип марджіни */
.logo-footer {
    margin: 0;
}

/* Заголовок ПРИЄДНУЙТЕСЬ */
.footer-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin: 0 0 20px;
}

/* Відступ вниз від Лого */
.footer-padding {
    margin-top: 20px;
}

/* Адреса імейл телефон */
.footer-item {
    font-style: normal;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

/* Відступи адреса імейл телефон */
.footer-indentation-item {
    margin-top: 9px;
}

/* Іконки футер коробочка */
.contacts-footer {
    margin-left: 70px;
}

/* Іконки li */
.contacts-items-footer {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white);
    transition: background-color var(--transition);
}

.contacts-items-footer:focus,
.contacts-items-footer:hover {
    background-color: var(--contrast);
}

.footer-input {
    margin-left: 93px;
}

.footer-mail {
    display: flex;
    align-items: center;
}

.footer-input-style {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    margin-right: 12px;
    color: var(--white);
    cursor: pointer;
    transition: border var(--transition);
}

.footer-input-style:focus {
    border: 1px solid var(--contrast);
}

.footer-button {
    padding: 10px 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0;
    transition: background var(--transition);
}

.footer-button:hover,
.footer-button:focus {
    background: #188CE8;
}

.footer-icon-send {
    fill: var(--white);
    margin: 0 0 0 10px;
}

/* ---------------MODAL WINDOW--------------- */

/* Загальне з фоном */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--transition);
}

/* Приховування коли вікно неактивне */
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Вікно загальне */
.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 1;
    width: 528px;
    min-height: 581px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transitionLong), opacity var(--transitionLong);
}

/* Приховування вікна */
.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-70%);
}

/* Кнопка закривання */
.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: var(--black);
    transition: fill var(--transition);
}

.modal-button:hover,
.modal-button:focus {
    fill: var(--contrast);
}

/* Заголовок */
.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey);
    margin: 0 0 12px;
}

.modal-form-item {
    margin-bottom: 10px;
}

/* Текст над полями вводу */
.modal-subtitle {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: var(--lightGrey);
}

/* Поля вводу */
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    resize: none;
    cursor: pointer;
    transition: border var(--transition);
    outline: none;
}

/* Коробочка для налаштування розташування іконок */
.modal-div {
    position: relative;
    margin-top: 4px;
    transition: fill var(--transition), border var(--transition);
}

.modal-input:focus {
    border: 1px solid var(--contrast);
}

/* Іконки */
.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--transition);
    cursor: pointer;
}

.modal-input:focus + .modal-icon {
    fill: var(--contrast);
}

/* Коментар поле вводу */
.modal-input-comment {
    display: block;
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: var(--black);
    resize: none;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--transition);
    outline: none;
}

.modal-input-comment:focus {
    border: 1px solid var(--contrast);
}

.modal-form-com {
    margin-bottom: 20px;
}

/* Поле Погоджуюся */
.check-flex {
    margin-bottom: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Поле вводу */
.modal-check {
    appearance: none;
    position: absolute;
    fill: var(--grey);
    width: 16px;
    height: 15px;
    padding: 0;
    margin: 0 7px 0 0;
    transition: border var(--transition);
}

/* Іконка галочка */
.check-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    cursor: pointer;
    background-image: url('../images/Check-na.svg');
}

.modal-check:checked + .check-icon {
    background-image: url('../images/iconCheck.svg');
}

/* Текст Погоджуюся */
.modal-check-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.7143;
    letter-spacing: 0.03em;
    color: var(--lightGrey);
    margin: 0;
    cursor: pointer;
}

/* Умови договору колір */
.check-contrast {
    color: rgba(33, 150, 243, 1);
    margin-left: 4px;
}

/* Кнопка Відправити */
.modal-submit {
    margin: 0 auto;
    padding: 10px 52px;
    display: flex;
}
