h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-size: 14px;
    color: var(--grey);
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-content: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Лінки без підкреслення */
.link {
    text-decoration: none;
    transition: color var(--transition);

    &:hover,
    &:focus {
        color: var(--contrast);
    }
}

/* Мінус маркування списків */
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Всі контейнери */
.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* Секції */
.section {
    padding: 94px 0;
}

/* Кнопки */
.button {
    font-family: inherit;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 0;
}

.button__text {
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

/* ---------------MAIN--------------- */

.button--contrast-theme {
    background: var(--contrast);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition);

    &:hover,
    &:focus {
        background: #188CE8;
    }
}

.button__text--contrast-theme {
    font-weight: 700;
    line-height: 1.865;
    color: var(--white);
    letter-spacing: 0.06em;
}

/* Заголовки h2 секцій */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
}

/* Відступ вниз від заголовків h2 */
.section-margin {
    margin-top: 50px;
}

/* ФлексБокс для іконок контактів */
.contacts-ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* flexbox списки main*/
.flexbox-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

