:root {
    --contrast: #2196F3;
    --white: #FFFFFF;
    --darkerWhite: #F5F4FA;
    --black: rgba(0, 0, 0, 1);
    --backGrey: #2F303A;
    --grey: #212121;
    --lightGrey: #757575;
    --weirdGrey: rgba(255, 255, 255, 0.6);
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transitionLong: 300ms ease;
}