/* Логотип загальне */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    width: 145px;

}

.logo__contrast {
    color: var(--contrast);
}