body {
    font-family: 'Roboto';
    font-size: 14px;
    color: var(--grey);
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* Всі контейнери */
.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}