<section class="section about">
      <div class="container">
        <h2 class="section-title">Чим ми займаємося</h2>
        <ul class="list flexbox-list section-margin">
          <li class="about__item">
            <img src="./images/img1.jpg" alt="Десктопні додатки" width="370" height="294" />
            <div class="about__overlay">
              <h3 class="about__overlay-text">Десктопні додатки</h3>
            </div>
          </li>
          <li class="about__item">
            <img src="./images/img2.jpg" alt="Мобільні додатки" width="370" height="294" />
            <div class="about__overlay">
              <h3 class="about__overlay-text">Мобільні додатки</h3>
            </div>
          </li>
          <li class="about__item">
            <img src="./images/img3.jpg" alt="Дизайнерські рішення" width="370" height="294" />
            <div class="about__overlay">
              <h3 class="about__overlay-text">Дизайнерські рішення</h3>
            </div>
          </li>
        </ul>
      </div>
    </section>