<section class="section">
  <div class="container">
    <h2 class="section-title">Постійні клієнти</h2>
    <ul class="list permanent section-margin">
      <li>
        <a href="" class="permanent__link">
          <svg width="41" height="46.7">
            <use href="./images/icons.svg#icon-ya_co_icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" class="permanent__link">
          <svg width="40" height="52">
            <use href="./images/icons.svg#icon-company_tagline_here_icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" class="permanent__link">
          <svg width="43.46" height="41.18">
            <use href="./images/icons.svg#icon-company_icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" class="permanent__link">
          <svg width="84.44" height="40.62">
            <use href="./images/icons.svg#icon-foster_peters_icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" class="permanent__link">
          <svg width="62.54" height="45.43">
            <use href="./images/icons.svg#icon-brand_icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" class="permanent__link">
          <svg width="93.79" height="43.93">
            <use href="./images/icons.svg#icon-company_tag_line_icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
