<section class="section">
        <div class="container">
          <!--Кнопки-->
          <h1 class="visually-hidden">Фільтри</h1>
          <ul class="list filters">
            <li>
              <button type="button" class="button filters__button button--grey-theme">
                <span class="button__text button__text--grey-theme">Усі</span>
              </button>
            </li>

            <li>
              <button type="button" class="button filters__button button--grey-theme">
                <span class="button__text button__text--grey-theme">Веб-сайти</span>
              </button>
            </li>

            <li>
              <button type="button" class="button filters__button button--grey-theme">
                <span class="button__text button__text--grey-theme">Додатки</span>
              </button>
            </li>

            <li>
              <button type="button" class="button filters__button button--grey-theme">
                <span class="button__text button__text--grey-theme">Дизайн</span>
              </button>
            </li>

            <li>
              <button type="button" class="button filters__button button--grey-theme">
                <span class="button__text button__text--grey-theme">Маркетинг</span>
              </button>
            </li>
          </ul>

          <!--Роботи-->
          <ul class="project__list">
            <li class="project__item">
              <div class="project__overlay">
                <img
                  src="./images/1technokryak.jpg"
                  alt="опис"
                  width="370"
                  height="294"
                />
                <div class="overlay">
                  <p class="project__overlay-text">
                    Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати
                    вичерпні відомості про компанію чи приватну особу.
                  </p>
                </div>
              </div>
              <div class="project__item-text">
                <h3 class="project__title">Технокряк</h3>
                <p class="project__type">Веб-сайт</p>
              </div>
            </li>
            <li class="project__item">
              <div class="project__overlay">
                <img
                  src="./images/2poster.jpg"
                  alt="опис"
                  width="370"
                  height="294"
                />
                <div class="overlay">
                  <p class="project__overlay-text">

                  </p>
                </div>
              </div>
              <div class="project__item-text">
                <h3 class="project__title">
                  Постер New Orlean vs Golden Star
                </h3>
                <p class="project__type">Дизайн</p>
              </div>
            </li>
            <li class="project__item">
              <div class="project__overlay">
                <img
                  src="./images/3restaurant.jpg"
                  alt=""
                  width="370"
                  height="294"
                />
                <div class="overlay">
                  <p class="project__overlay-text">

                  </p>
                </div>
              </div>
              <div class="project__item-text">
                <h3 class="project__title">Ресторан Seafood</h3>
                <p class="project__type">Додаток</p>
              </div>
            </li>
            <li class="project__item">
              <div class="project__overlay">
                <img
                  src="./images/4project.jpg"
                  alt=""
                  width="370"
                  height="294"
                />
                <div class="overlay">
                  <p class="project__overlay-text">

                  </p>
                </div>
              </div>
              <div class="project__item-text">
                <h3 class="project__title">Проєкт Prime</h3>
                <p class="project__type">Маркетинг</p>
              </div>
            </li>
            <li class="project__item">
              <div class="project__overlay">
                <img
                  src="./images/5project2.jpg"
                  alt=""
                  width="370"
                  height="294"
                />
                <div class="overlay">
                  <p class="project__overlay-text">

                  </p>
                </div>
              </div>
              <div class="project__item-text">
                <h3 class="project__title">Проєкт Boxes</h3>
                <p class="project__type">Додаток</p>
              </div>
            </li>
            <li class="project__item">
              <div class="project__overlay">
                <img
                  src="./images/6inspiration.jpg"
                  alt=""
                  width="370"
                  height="294"
                />
                <div class="overlay">
                  <p class="project__overlay-text">

                  </p>
                </div>
              </div>
              <div class="project__item-text">
                <h3 class="project__title">Inspiration has no Borders</h3>
                <p class="project__type">Веб-сайт</p>
              </div>
            </li>
            <li class="project__item">
              <div class="project__overlay">
                <img
                  src="./images/7edition.jpg"
                  alt=""
                  width="370"
                  height="294"
                />
                <div class="overlay">
                  <p class="project__overlay-text">

                  </p>
                </div>
              </div>
              <div class="project__item-text">
                <h3 class="project__title">Видання Limited Edition</h3>
                <p class="project__type">Дизайн</p>
              </div>
            </li>
            <li class="project__item">
              <div class="project__overlay">
                <img
                  src="./images/8project3.jpg"
                  alt=""
                  width="370"
                  height="294"
                />
                <div class="overlay">
                  <p class="project__overlay-text">

                  </p>
                </div>
              </div>
              <div class="project__item-text">
                <h3 class="project__title">Проєкт LAB</h3>
                <p class="project__type">Маркетинг</p>
              </div>
            </li>
            <li class="project__item">
              <div class="project__overlay">
                <img
                  src="./images/9growingb.jpg"
                  alt=""
                  width="370"
                  height="294"
                />
                <div class="overlay">
                  <p class="project__overlay-text">
                  </p>
                </div>
              </div>
              <div class="project__item-text">
                <h3 class="project__title">Growing Business</h3>
                <p class="project__type">Додаток</p>
              </div>
            </li>
          </ul>
        </div>
      </section>