<section class="section">
      <div class="container">
        <h2 class="visually-hidden">Якості</h2>
        <ul class="list flexbox-list">
          <li class="qualities">
            <div class="qualities__icon">
              <svg width="70" height="70">
                <use href="./images/icons.svg#icon-antenna"></use>
              </svg>
            </div>
            <h3 class="qualities__title">УВАГА ДО ДЕТАЛЕЙ</h3>
            <p class="qualities__text">
              Ідейні міркування, і навіть початок повсякденної роботи з
              формування позиції.
            </p>
          </li>
          <li class="qualities">
            <div class="qualities__icon">
              <svg width="70" height="70">
                <use href="./images/icons.svg#icon-clock"></use>
              </svg>
            </div>
            <h3 class="qualities__title">ПУНКТУАЛЬНІСТЬ</h3>
            <p class="qualities__text">
              Завдання організації, особливо рамки і місце навчання кадрів
              тягне у себе.
            </p>
          </li>

          <li class="qualities">
            <div class="qualities__icon">
              <svg width="70" height="70">
                <use href="./images/icons.svg#icon-diagram_comp"></use>
              </svg>
            </div>
            <h3 class="qualities__title">ПЛАНУВАННЯ</h3>
            <p class="qualities__text">
              Так само консультація з широким активом значною мірою зумовлює.
            </p>
          </li>

          <li class="qualities">
            <div class="qualities__icon">
              <svg width="70" height="70">
                <use href="./images/icons.svg#icon-astronaut"></use>
              </svg>
            </div>
            <h3 class="qualities__title">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
            <p class="qualities__text">
              Значимість цих проблем настільки очевидна, що реалізація
              планових завдань.
            </p>
          </li>
        </ul>
      </div>
    </section>