<section class="section team">
      <div class="container">
        <h2 class="section-title">Наша команда</h2>
        <ul class="list flexbox-list section-margin">
          <li class="team__item">
            <img src="./images/igor_demyanenko.jpg" alt="Фото Ігоря Дем'яненка" width="270" height="260" />
            <div class="team__text-block">
              <h3 class="team__text team__name">Ігор Дем'яненко</h3>
              <p lang="en" class="team__text team__position">Product Designer</p>
              <ul class="list contacts-ul">
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team__item">
            <img src="./images/olga_repina.jpg" alt="Фото Ольги Рєпіної" width="270" height="260" />
            <div class="team__text-block">
              <h3 class="team__text team__name">Ольга Рєпіна</h3>
              <p lang="en" class="team__text team__position">Frontend Developer</p>
              <ul class="list contacts-ul">
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team__item">
            <img src="./images/mykola_tarasov.jpg" alt="Фото Миколи Тарасова" width="270" height="260" />
            <div class="team__text-block">
              <h3 class="team__text team__name">Микола Тарасов</h3>
              <p lang="en" class="team__text team__position">Marketing</p>
              <ul class="list contacts-ul">
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team__item">
            <img src="./images/myhailo_yermakov.jpg" alt="Фото Михайла Єрмакова" width="270" height="260" />
            <div class="team__text-block">
              <h3 class="team__text team__name">Михайло Єрмаков</h3>
              <p lang="en" class="team__text team__position">UI Designer</p>
              <ul class="list contacts-ul">
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="team__contact-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>