<section class="section-team section">
      <div class="container">
        <h2 class="section-title">Наша команда</h2>
        <ul class="list flexbox-list section-margin">
          <li class="team-color">
            <img src="./images/igor_demyanenko.jpg" alt="Фото Ігоря Дем'яненка" width="270" height="260" />
            <div class="team-padding">
              <h3 class="team team-names">Ігор Дем'яненко</h3>
              <p lang="en" class="team team-position">Product Designer</p>
              <ul class="list contacts-ul">
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-color">
            <img src="./images/olga_repina.jpg" alt="Фото Ольги Рєпіної" width="270" height="260" />
            <div class="team-padding">
              <h3 class="team team-names">Ольга Рєпіна</h3>
              <p lang="en" class="team team-position">Frontend Developer</p>
              <ul class="list contacts-ul">
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-color">
            <img src="./images/mykola_tarasov.jpg" alt="Фото Миколи Тарасова" width="270" height="260" />
            <div class="team-padding">
              <h3 class="team team-names">Микола Тарасов</h3>
              <p lang="en" class="team team-position">Marketing</p>
              <ul class="list contacts-ul">
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-color">
            <img src="./images/myhailo_yermakov.jpg" alt="Фото Михайла Єрмакова" width="270" height="260" />
            <div class="team-padding">
              <h3 class="team team-names">Михайло Єрмаков</h3>
              <p lang="en" class="team team-position">UI Designer</p>
              <ul class="list contacts-ul">
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="" class="contacts-items contacts-link">
                    <svg width="20" height="20">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>